body {
  background-color: white;
  color: black;
  margin: 0; padding: 0;
}

header {
  background-color:
}

header nav {
  margin-top: 30px;
  text-align: center;
  padding-bottom: 5px;
}
header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 15px 0 10px;
}

li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover{
  color: navy;
  font-weight: bold;
}

span {
  color: navy;
  text-decoration: underline;
}

.logo {
  margin-left: 130px;
  padding-top: 15px;
}

.sect-one {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://live.staticflickr.com/65535/49337517183_7edc218404_k.jpg);
  background-size: cover;
  height: 470px;;
  text-align: center;
}

.quote {
  font-size: 30px;
  padding-top: 150px;
  color: white;
}

.message {
  font-size: 40px;
  margin-right: 240px;
  margin-left: 240px;
  color: white;
}

.sect-two {
  padding-bottom: 50px;
}

.boxes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-columns: minmax(33%, auto);
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.box-one {
  border: 2px solid black;
  padding: 15px;
}

.box-two {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px;
}

.box-three {
  border: 2px solid black;
  padding: 15px;
}

.meal {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.meal:hover {
  color: olivedrab;
  font-weight: bold;
}

.sect-three {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

#last-p {
  padding-bottom: 20px;
}

button {
  height: 35px;
  width: 70px;
  border: 2px solid black;
  background-color: orange;
  font-size: 11px;
}

button:hover {
  background-color: green;
  color: white;
}

footer {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(https://live.staticflickr.com/65535/49337517183_7edc218404_k.jpg);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
}